
@{
    Layout = null;
}

<!DOCTYPE html>

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<br />

<table class="table table-bordered">
    <tr>
       <th>ID</th>
        <th>Kategori Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
        <th>Güncelle</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Software</td>
        <td>Yapıldı</td>
        <td>True</td>
        <td><button class="btn btn-group">Güncelle</button></td>
    </tr>
</table>

<button class="btn btn-success">Yeni Kategori</button>
<button class="btn btn-primary">Yeni Kategori</button>
<button class="btn btn-danger">Yeni Kategori</button>